

<div>

    <div class="jumbotron">
      <div class="container">
        <h1>Trees don't Talk,and People don't Tree.</h1>
        <p>The goals of this platform is to bring together science, research and data to
          the public in an engaging manner. Not only informing and educating the 
          public, but mobilizing the crowd to take action in the local areas.
          </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <h3> Problem: People are disconnected to nature.
        </h3>
      <ul>
        <li> People make decisions without realizing the environmental costs or impact
        </li>
        <li>People only care about their specific area.
        </li>
        <li>Scientists and researchers who have conducted environmental valuation research haven't 
          desseminated their research effectively
        </li>
        
      </ul>
      </div>

<div class="row">
  <div id="pieChart"></div>
</div>


      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Discover</h2>
          <p>Ecosystems services aree all around you. Learn about the ecosystem services
              used in your local community.  </p>
          <p><a class="btn btn-default" href="#/services" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Learn</h2>
          <p>
              Explore research from scientists about various environmental services.
          </p>
          <p><a class="btn btn-default" href="#/water" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Take Action</h2>
          <p>
            What can you do in your local community to preserve your ecosystem? 
            Collaborate with scientists and conservation experts to collect data and perform research.
          </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

</div>