
 <div class="row">
        <h3> Problem: People are disconnected to nature.
        </h3>
      <ul>
        <li> People make decisions without realizing the environmental costs or impact
        </li>
        <li>People only care about their specific area.
        </li>
        <li>Scientists and researchers who have conducted environmental valuation research haven't 
          desseminated their research effectively
        </li>
        
      </ul>
</div>





<ol>
<li>
Initial Engagement: Short hook to get the user's attention 
</li>

<li>
    What do we have: Connecting People with their eco-services.
</li>


<li>
    What do we have: Connecting People with their eco-services.
</li>



<li>
    What is missing?: Where are the holes in the data
</li>


<li>
    What can you do? View actions recommended by the experts
</li>

</ol>