<div class="row">
<div id="pieChart"></div>


</div>

<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4" style="max-width: 150px">
        <div class="panel panel-default">
            <div class="panel-body">
                Pollenation              <i class="fa fa-leaf" aria-hidden="true"></i>

            </div>
        </div>
         <div class="panel panel-default">
            <div class="panel-body">
                Food<i class="fa fa-cutlery" aria-hidden="true"></i>
            </div>
        </div>
         <div class="panel panel-default">
            <div class="panel-body">
                Parks <i class="fa fa-tree" aria-hidden="true"></i>
            </div>
        </div>
    </div>

</div>







<h3> My Ecosystem Services </h3>

<div class = "media">
   <a class = "pull-left" href = "#">
      <img class = "media-object" src = "/bootstrap/images/64.jpg" alt = "Media Object">
   </a>
   
   <div class = "media-body">
      <h4 class = "media-heading">Media heading</h4>
      This is some sample text. This is some sample text. 
      This is some sample text. This is some sample text.
      This is some sample text. This is some sample text. 
      This is some sample text. This is some sample text.
   </div>
</div>
      
      
    <div class = "media">
        <a class = "pull-left" href = "#">
        <img class = "media-object" src = "/bootstrap/images/64.jpg" alt = "Media Object">
        </a>
        
        <div class = "media-body">
        <h4 class = "media-heading">Media heading</h4>
        This is some sample text. This is some sample text. 
        This is some sample text. This is some sample text.
        This is some sample text. This is some sample text. 
        This is some sample text. This is some sample text.
        </div>
        
    </div>
   

</div>