<div>

<h3>
    What are Ecosystem services?
</h3>


<h4>
Supporting services
</h4>
<p>

Ecosystem services "that are necessary for the production of all other ecosystem services".[14][15] These include services such as nutrient recycling, primary production and soil formation.[16] These services make it possible for the ecosystems to provide services such as food supply, flood regulation, and water purification.

</p>


<h4>
Provisioning services
</h4>
<p>

"Products obtained from ecosystems" [14]

food (including seafood and game), crops, wild foods, and spices
raw materials (including lumber, skins, fuel wood, organic matter, fodder, and fertilizer)
genetic resources (including crop improvement genes, and health care)
water
Biogenic minerals
medicinal resources (including pharmaceuticals, chemical models, and test and assay organisms)
energy (hydropower, biomass fuels)
ornamental resources (including fashion, handicraft, jewelry, pets, worship, decoration and souvenirs like furs, feathers, ivory, orchids, butterflies, aquarium fish, shells, etc.)
</p>


<h4>

Regulating services
</h4>
<p>
"Benefits obtained from the regulation of ecosystem processes" [14]

carbon sequestration and climate regulation
waste decomposition and detoxification
purification of water and air
pest and disease control
</p>



<h4>
Cultural services
</h4>
<p>
"Nonmaterial benefits people obtain from ecosystems through spiritual enrichment, cognitive development, reflection, recreation, and aesthetic experiences" [14]

cultural (including use of nature as motif in books, film, painting, folklore, national symbols, architect, advertising, etc.)
spiritual and historical (including use of nature for religious or heritage value or natural)
recreational experiences (including ecotourism, outdoor sports, and recreation)
science and education (including use of natural systems for school excursions, and scientific discovery)
Therapeutic (including Ecotherapy, social forestry and animal assisted therapy)
There is discussion as to how the concept of cultural ecosystem services can be operationalized. A good review of approaches in landscape aesthetics, cultural heritage, outdoor recreation, and spiritual significance to define and assess cultural values of our environment so that they fit into the ecosystem services approach is given by Daniel et al.[17] who vote for models that explicitly link ecological structures and functions with cultural values and benefits. There also is a fundamental critique of the concept of cultural ecosystem services that builds on three arguments:[18]

Pivotal cultural values attaching to the natural/cultivated environment rely on an area’s unique character that cannot be addressed by methods that use universal scientific parameters to determine ecological structures and functions.
If a natural/cultivated environment has symbolic meanings and cultural values the object of these values are not ecosystems but shaped phenomena like mountains, lakes, forests, and, mainly, symbolic landscapes.[19]
Those cultural values do result not from properties produced by ecosystems but are the product of a specific way of seeing within the given cultural framework of symbolic experience.[20]
</p>
</div>
