<div>
<h3> Researchers
</h3>

<ul>
<li> Share their Research in a digestible format
</li>
<li> Connect with local communities to collect data
</li>
<li>
</li>
</ul>

</div>

<div>
<h3> NGOs
</h3>

<ul>
<li> Connect with the local community to plan actions
</li>
<li> Share your solutions with other organizations in the same space
</li>
<li> Learn about tools and strategies for connecting with local people 
</li>
</ul>

</div>

<div>
<h3> Community Members
</h3>

<ul>
<li>
</li>
<li>
</li>
<li>
</li>
</ul>

</div>