<div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>Water Quality</h2><br>
      <h4>
          Water quality refers to the chemical, physical, biological, and radiological characteristics of water.
           It is a measure of the condition of water relative to the requirements of one or more biotic species and 
           or to any human need or purpose. 
           The most common standards used to assess water quality relate to health of ecosystems, safety of human contact, and drinking water.
      </h4>
      <br><button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2> Key facts</h2><br>
      <p>
         <ul>
             <li> In 2015, 91% of the world’s population had access to an improved drinking-water source, compared with 76% in 1990.
</li>
             <li> 2.6 billion people have gained access to an improved drinking-water source since 1990.
</li>
             <li> 4.2 billion people now get water through a piped connection; 2.4 billion access water through other improved sources including public taps, protected wells and boreholes.
</li>
             <li> 663 million people rely on unimproved sources, including 159 million dependent on surface water.
</li>
             <li> Globally, at least 1.8 billion people use a drinking-water source contaminated with faeces.
</li>
             <li> Contaminated water can transmit diseases such diarrhoea, cholera, dysentery, typhoid and polio. Contaminated drinking-water is estimated to cause 502 000 diarrhoeal deaths each year.
</li>
             <li> By 2025, half of the world’s population will be living in water-stressed areas. </li>
             <li> In low- and middle-income countries, 38% of health care facilities lack improved water source, 19% do not have improved sanitation and 35% lack water and soap for handwashing.</li>
         </ul>

      </p>  
          
     </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2>Success Stories</h2>
  <h4>View what other organizations have done to preserve thier ecosystem services related to water quality</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>NYC, 2001</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>Ohio, 2016</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>Other Place, 2014</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid text-center bg-grey">

  <h2>What can I do?</h2>
  <h4>Get involved in the following ways</h4>
  <div class="row text-center slideanim">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="paris.jpg" alt="Paris" width="400" height="300">
        <p><strong>Paris</strong></p>
        <p>Yes, we built Paris</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="newyork.jpg" alt="New York" width="400" height="300">
        <p><strong>New York</strong></p>
        <p>We built New York</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="sanfran.jpg" alt="San Francisco" width="400" height="300">
        <p><strong>San Francisco</strong></p>
        <p>Yes, San Fran is ours</p>
      </div>
    </div>
  </div><br>
  
</div>

</div>

