<div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-5">
      <h2>Water Quality</h2><br>
      <p>
          Water quality refers to the chemical, physical, biological, and radiological characteristics of water.
           It is a measure of the condition of water relative to the requirements of one or more biotic species and 
           or to any human need or purpose. 
           The most common standards used to assess water quality relate to health of ecosystems, safety of human contact, and drinking water.
      </p>
      </div>
    <div class="col-sm-6">
      <img src="images/faucet_sink.png" class="img-responsive" /> 
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
      
    
    <div class="col-sm-4" style="padding-top: 50px">
       <img src="images/water_lake.jpg" class="img-responsive" /> 
     
    </div>
    <div class="col-sm-8">
      <h3> Key facts</h3>
      <p>
         <ul>
             <li> In 2015, 91% of the world’s population had access to an improved drinking-water source, compared with 76% in 1990.
            </li>
             <li> 2.6 billion people have gained access to an improved drinking-water source since 1990.
              </li>
             <li> 4.2 billion people now get water through a piped connection; 2.4 billion access water through other improved sources including public taps, protected wells and boreholes.
            </li>
             <li> 663 million people rely on unimproved sources, including 159 million dependent on surface water.
            </li>
             <li> Globally, at least 1.8 billion people use a drinking-water source contaminated with faeces.
              </li>
             <li> Contaminated water can transmit diseases such diarrhoea, cholera, dysentery, typhoid and polio. Contaminated drinking-water is estimated to cause 502 000 diarrhoeal deaths each year.
              </li>
             <li> By 2025, half of the world’s population will be living in water-stressed areas. </li>
             <li> In low- and middle-income countries, 38% of health care facilities lack improved water source, 19% do not have improved sanitation and 35% lack water and soap for handwashing.</li>
         </ul>

      </p>  
          
     </div>
  </div>
</div>

<!-- Container (About Section) -->
<div id="connection" class="container-fluid">
      <h3>How are you connected?</h3><br>
  <div class="row">
<div class="col-sm-4" >
       <img src="images/ohiocensus.png" class="img-responsive" /> 
      
    </div>
    <div class="col-sm-8">
 
  <h4>Local Resources</h4>

<a href="http://wwwapp.epa.ohio.gov/gis/maps/ambientmap.html" target="blank" >
Ohio Groundwater Map
</a><br />
<a href="http://www.noaa.gov/media-release/noaa-partners-predict-smaller-harmful-algal-bloom-for-western-lake-erie">NOAA Algae Tracker</a><br />
</h4>
  
  <h4> Water Quality Ohio </h4>
  <div id="demo" >
  Our water quality is constantly threatened by many different sources and types of pollution. Under the Clean Water Act, every state must adopt water quality standards to protect, maintain and improve the quality of the nation's surface waters. These standards represent a level of water quality that will support the goal of "swimmable/fishable" waters. Water quality standards are ambient standards as opposed to discharge-type standards. These ambient standards, through a process of back calculation procedures known as total maximum daily loads or wasteload allocations form the basis of water quality based permit limitations that regulate the discharge of pollutants into surface waters under the National Pollutant Discharge Elimination System (NPDES) permit program.
  http://www.epa.ohio.gov/dsw/wqs/index.aspx  

   </div>



     <a  data-toggle="collapse" data-target="#demo">Water Quality Ohio</a>
  <div id="demo" class="collapse">
  Our water quality is constantly threatened by many different sources and types of pollution. Under the Clean Water Act, every state must adopt water quality standards to protect, maintain and improve the quality of the nation's surface waters. These standards represent a level of water quality that will support the goal of "swimmable/fishable" waters. Water quality standards are ambient standards as opposed to discharge-type standards. These ambient standards, through a process of back calculation procedures known as total maximum daily loads or wasteload allocations form the basis of water quality based permit limitations that regulate the discharge of pollutants into surface waters under the National Pollutant Discharge Elimination System (NPDES) permit program.
  http://www.epa.ohio.gov/dsw/wqs/index.aspx 

   </div>

    </div>
    
  </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2>Success Stories</h2>
  <h4>View what other organizations have done to preserve thier ecosystem services related to water quality</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>NYC, 2001</h4>
      <p>NYC </p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>Ohio, 2016</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>Other Place, 2014</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid text-center bg-grey">

  <h3>What can I do?</h3>
<table class="table table-bordered" style="max-width: 600px">
  <tr><th>Next steps</th><th>Involvement</th></tr>
  <tr><td>Gather Data for Dr. Smith from OSU</td><td>1 hour</td></tr>
  <tr><td>Volunteer with Ohio Wildlide Department</td><td>1 Saturday / month</td></tr>
  <tr><td>Household Habits</td><td>1 hour / week</td></tr>
<a href="#" target="blank">
</table>

</div>
</div>

